<div class="flexColCenter py-8 *:text-2xl"><h1 class="titleH1">change password</h1></div>
<form action="" method="post" class="flexColCenter px-4 md:px-0">
    {% csrf_token %}
    <div class="w-full md:w-[500px] my-4">
        {% if form.old_password.field.required %}
            <div class="mb-4 font-bold">
                <span class="text-red-500">*</span> {{ form.old_password.label_tag }}
            </div>
        {% else %}
            <div class="mb-4 font-bold">
                {{ form.old_password.label_tag }}
            </div>
        {% endif %}
        <div class="*:w-full *:rounded-sm *:border *:h-10 *:pl-4">
            {{form.old_password}}
        </div>
        {% if form.old_password.errors %}
            <ul class="error-messages">
                {% for error in form.old_password.errors %}
                    <li class="text-red-500 pl-4 text-xs">* {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.old_password.help_text %}
            <div class="pl-6 pt-6">
                <small class="*:list-disc">{{ form.old_password.help_text }}</small>
            </div>
        {% endif %}
    </div>

    <div class="w-full md:w-[500px] my-4">
        {% if form.new_password1.field.required %}
            <div class="mb-4 font-bold">
                <span class="text-red-500">*</span> {{ form.new_password1.label_tag }}
            </div>
        {% else %}
            <div class="mb-4 font-bold">
                {{ form.new_password1.label_tag }}
            </div>
        {% endif %}
        <div class="*:w-full *:rounded-sm *:border *:h-10 *:pl-4">
            {{form.new_password1}}
        </div>
        {% if form.new_password1.errors %}
            <ul class="error-messages">
                {% for error in form.new_password1.errors %}
                    <li class="text-red-500 pl-4 text-xs">* {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.new_password1.help_text %}
            <div class="pl-6 pt-6">
                <small class="*:list-disc">{{ form.new_password1.help_text }}</small>
            </div>
        {% endif %}
    </div>

    <div class="w-full md:w-[500px] my-4">
        {% if form.new_password2.field.required %}
            <div class="mb-4 font-bold">
                <span class="text-red-500">*</span> {{ form.new_password2.label_tag }}
            </div>
        {% else %}
            <div class="mb-4 font-bold">
                {{ form.new_password2.label_tag }}
            </div>
        {% endif %}
        <div class="*:w-full *:rounded-sm *:border *:h-10 *:pl-4">
            {{form.new_password2}}
        </div>
        {% if form.new_password2.errors %}
            <ul class="error-messages">
                {% for error in form.new_password2.errors %}
                    <li class="text-red-500 pl-4 text-xs">* {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.new_password2.help_text %}
            <div class="pl-6 pt-6">
                <small class="*:list-disc">{{ form.new_password2.help_text }}</small>
            </div>
        {% endif %}
    </div>

    <button type="submit" class="seeAllButton w-40 mt-20">submit</button>
</form>
