{% load humanize %}

{% with addToCartButtonCss="rounded-full border border-solid border-[--bg_button_add_to_cart] bg-[--bg_button_add_to_cart] text-white text-[12px] h-7 w-7 transition-all group-hover:w-[110px]" textGroupHoverCss="group-hover:visible group-hover:opacity-100 group-hover:w-max group-hover:pl-[10px]" %}

<div class="w-full h-full flexCol p-2 bg-white rounded-lg">

    <a href="{% url 'ecommerce:product_detail' data.slug %}">
        <div class="relative">
            {% if data.discounted_price %}
                <span class="absolute top-0 right-0 mt-1 mr-1 p-1 rounded-lg bg-[#FFB41D] capitalize font-bold text-xs">sale</span>
            {% endif %}
            
            <div class="absolute right-2 bottom-2 group">
                <button class="flex items-center relative z-10 {{addToCartButtonCss}}">
                    <span class="transition-all h-[18px] overflow-hidden invisible opacity-0 w-0 text-[10px] p-0 capitalize {{textGroupHoverCss}}">add to cart</span>
                    <span class="absolute right-[-1px] m-[2px] w-6 h-6 rounded-full overflow-hidden">
                        <img class="h-full w-full transition-all group-hover:bg-white" width="20" height="20" src="https://theme.hstatic.net/1000253775/1001291562/14/add-to-cart-hv.svg?v=519" alt="Thêm vào giỏ">
                    </span>
                </button>
            </div>

            <img class="" src="{{data.thumbnail}}">
        </div>
        <div class="p-2">
            <span class="line-clamp-3 h-[65px]">{{data.name}}</span>
            <div class="flexRowHorizontalCenter gap-x-2 mt-4">
            {% if data.discounted_price %}
                <span class="text-[10px] md:text-[12px] text-[#e70303] font-bold">{{data.discounted_price|floatformat:0|intcomma}}₫</span>
                <del class="text-[10px] md:text-[12px] text-[#888888] font-bold">{{data.price|floatformat:0|intcomma}}₫</del>
                <span class="rounded-lg bg-[#BE2D23] px-1 text-white text-[10px] md:text-[12px] font-bold flexColCenter">{{discount_value|floatformat:0}}{{discount_type.label}}</span>
            {% elif not data.discounted_price %}
                <span class="text-[10px] md:text-sm font-bold">{{data.price|floatformat:0|intcomma}}₫</span>
            {% else %}
                <div></div>
            {% endif %}
            </div>
        </div>
    </a>
</div>

{% endwith %}
