{% with ulCss="grid overflow-x-auto gap-x-2 w-full py-8 pr-2 px-2 auto-cols-max grid-rows-1 md:grid-rows-none md:grid-cols-4" liCss="h-[98px] w-[80vw] rounded-xl overflow-hidden md:w-full md:h-[initial] row-span-full col-auto" %}

<section class="mt-8">
    <div class="{{responsiveCss}}">
        <h1 class="titleH1">offer for you</h1>
        <ul class="{{ulCss}}">
            {% for promotion in promotions %}
                <li class="{{liCss}} shadow">
                    {% if promotion.thumbnail and promotion.link_to %}
                        <a href="{{promotion.link_to}}" class=""><img class="h-full md:h-auto" src="{{promotion.thumbnail}}" alt="" ></a>
                    {% else %}
                        <div class="flexRow h-full">
                            <div class="w-2/5 flexRowCenter border-l-[12px] border-r-2 borderRightStyleDashed border-l-[#FCBF49]">
                                <span class="font-bold text-lg">{{promotion.code}}</span>
                            </div>
                            <div class="w-[70%] p-1 flexCol gap-y-1 md:gap-y-2 md:p-2">
                                <span class="font-bold text-lg uppercase">{{promotion.name}}</span>
                                <span class="text-ellipsis overflow-hidden text-xs">{{promotion.description}}</span>
                                <div class="flexRowBetween">
                                    <div class="flexCol">
                                        <span class="text-[10px] md:text-xs">Code: <strong>{{promotion.code}}</strong></span>
                                        <span class="text-[10px] md:text-xs">EXP: {{promotion.end_date}}</span>
                                    </div>
                                    <button data-code="{{promotion.code}}" class="m-0 p-0 text-[10px] rounded-2xl bg-black text-white px-2 md:px-4 md:text-sm"><span>Copy code</span></button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endwith %}
