{% with iconSize="w-5 h-5 md:w-[initial] md:h-[initial]" %}

<div class="flexRowCenter">
    <ul class="flexRow gap-x-3 md:gap-x-8">
        <li class="{{iconSize}}">
            <a href="{% url 'ecommerce:login_account' %}" class="flexColCenter">
                <img width="24" height="24"
                    src="//theme.hstatic.net/1000253775/1001291562/14/user-account.svg?v=332"
                    alt="Sign in" />
                <span class="hidden md:block capitalize">sign in</span>
            </a>
        </li>
        <li class="{{iconSize}}">
            <a href="/" class="flexColCenter">
                <img width="24" height="24"
                    src="//theme.hstatic.net/1000253775/1001291562/14/shopping-cart.svg?v=332"
                    alt="Your cart" />
                <span class="hidden md:block capitalize">cart</span>
            </a>
        </li>
    </ul>
</div>

{% endwith %}
