{% load static %}
{% with bannerContainerCss="mt-4" %}

<section class="{{bannerContainerCss}}">
    
    <div class="relative {{responsiveCss}}">
        {% if list_banners|length > 1 %}
            <button id="slickPrev" class="slickButtonCss slickPrevCss" style="transform: translatey(-50%);">
                <i class="fa fa-angle-left fa-4x"></i>
            </button>
        {% endif %}
        
        <div class="myBanner">
            {% for banner in list_banners %}
                <div>
                    <a href="{% if banner.link %} {{banner.link}} {% else %}#{% endif %}" alt=""><img src="{{banner.img}}" alt=""></a>
                </div>
            {% endfor %}
        </div>
        
        {% if list_banners|length > 1 %}
            <button id="slickNext" class="slickButtonCss slickNextCss" style="transform: translatey(-50%);">
                <i class="fa fa-angle-right fa-4x"></i>
            </button>
        {% endif %}
    <div>
</section>

{% endwith %}

<script src="{% static 'js/banner/index.js' %}"></script>

{% comment %} <div><div> {% endcomment %}
