{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}
Profile
{% endblock title %}

{% block body-content %}

{% with local_var=context_var %}

<div class="mainBodyContenContainerResponsive py-10 grid grid-cols-4 gap-4">
    <div class="col-span-1">
        {% include "ecommerce/page/account/navigation/index.html" with account_navigations=account_navigations %}
    </div>
    <div class="col-span-3">
        {% include "ecommerce/page/account/form/password.html" with form=form %}
    </div>
</div>

{% endwith %}

{% endblock body-content %}
